<template>
    <v-container fluid fill-height>
    <v-layout>
      <v-flex xs12>
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title>DETAIL</v-toolbar-title>
          </v-toolbar>
          <v-divider></v-divider>
          <v-container fluid>
            <v-form>
              <v-text-field v-validate="'required|max:50'" v-model="gettersAcc.id" :counter="50" :error-messages="errors.collect('id')"
                label="ID" data-vv-name="id"></v-text-field>
              <v-text-field v-validate="'required|max:50'" v-model="gettersAcc.username" :counter="20" :error-messages="errors.collect('username')"
                label="Username"  data-vv-name="username"></v-text-field>
              <div class="text-xs-center">
                
              </div>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
 
export default {
    name:"Account",
    data: () => ({
      acc: {}
    }),
    computed: {
      gettersAcc() {
        return this.$store.state.Accounts.account;
         
      },
     
  } ,
    mounted () {
        this.$store.dispatch('Accounts/loadAccDetail', this.acc)// DISPATCH loadCustomer YANG BERADA DALAM MODULE Customers
       
    }
}
</script>
