
<template>
    <div>
    
        name : <input type="text" v-model="UserReq.Name"/><br>
        umur : <input type="text" v-model="UserReq.Email"/><br>
        <button   v-on:click="addItems">Add</button> 
 
    </div>
 
</template>

<script>
    export default{
        name:'Test',
        data(){
            return {
                UserReq:{},
                
            }
        },
        methods:
        {
            addItems() {
                this.$store.dispatch('Users/addUser', this.UserReq)
            },
            
 
             
        },
        mounted() {
              // this.$store.dispatch('Users/loadUser')
        },
        computed:
        {
            user()
            {
              // return this.$store.getters['Users/getUserList']
              return this.$store.state.Users.users
            }
        }
           
        
             
          
    }
</script>