soal 1
<div >
  list of array : <input type="text" id="listArr" >
  <input type="button" onclick="getResult()"  value="submit">
   
</div>

soal 2
<div >
  list of array : <input type="text" id="listArr2" >
  <input type="button" onclick="getResult2()"  value="submit">
   
</div>

soal 3
<div >
  list of array : <input type="text" id="listArr3" >
  <input type="button" onclick="getResult3()"  value="submit">
   
</div>

soal 4
<div >
  list of array : <input type="text" id="listArr4" >
  <input type="button" onclick="getResult4()"  value="submit">
   
</div>
<script>
function getResult()
{
  var list = document.getElementById("listArr").value.split(",");
  var count= 0;
 
  for(x=0;x < list.length; x++)
  {
    
    for(y=0;y < list.length; y++ )
    {
      if(list[x] == list[y])
      {
        
        count++;
        
      }
    }
    
    if(count == 2)
          {
            console.log("the duplicate element is " + list[x]);
            
            return;
            
          }
          count = 0;
  }
}

function getResult2()
{
  var list = document.getElementById("listArr2").value.split(",");
  var arrayResult = list.sort();
  console.log(arrayResult);
}

function getResult3()
{
  var list = document.getElementById("listArr3").value.split(",");
  var resultArr = [];
  var arr = [];
  for(x=0;x < list.length; x++)
  {
    
    for(y=x; y < list.length;y++)
    {
        arr.push(list[x]);
        arr.push(list[y]);
        resultArr.push(arr);
        arr = [];
    }
    
   
  }
  console.log(resultArr);
}

function getResult4()
{ 
  var list = document.getElementById("listArr4").value.split(",");
  var result = [];
  var subArr = [];
  
  var multiplication = 1;
  
  for(x=0;x < list.length; x++ )
    {
      
        for(y=x; y < list.length;y++)
        {
          if(y < list.length - 1)
          {
            if(list[y] == 0)
            {
              break;
            }
            multiplication  = multiplication * list[y] ;
            subArr.push(list[y])
            
          }
       }
        
       var obj = new Object();
       obj.subArray = subArr;
       obj.maxNum = multiplication;
       result.push(obj);
        
       multiplication = 1;
       subArr = [];
      
    }
 
  console.log("the maximum product sub-array is [" + result.sort(function(a, b){return b.maxNum - a.maxNum})[0].subArray + "] having product " + result.sort(function(a, b){return b.maxNum - a.maxNum})[0].maxNum);
  
}
 
 </script>