<template>
  <div id="app">
    <v-app>
      <v-navigation-drawer fixed v-model="drawer" app v-if="this.$route.path !=='/login' && this.$route.path !=='/Registrasi' ">
        <v-app-bar>
          <v-list>
            <v-list-item>
              <v-avatar size=25>
                 
              </v-avatar>
              <v-list-item-title class="title">
                <router-link to="/" tag="span" style="cursor:pointer">&nbsp; TMDB</router-link>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-app-bar>

        <v-divider></v-divider>

       <v-list dense class="pt-0">
          <v-list-group value="true">
            <v-list-group v-for="item in items" :key="item.id"
              no-action
              sub-group
              
            >
            
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title><router-link v-bind:to="item.link">{{item.title}}</router-link></v-list-item-title>
                </v-list-item-content>
              </template>

          <v-list-item
            v-for="inv in getChild(item.id)" :key="inv.title"
             link
          >
            <v-list-item-title ><router-link v-bind:to="inv.link">{{inv.title}}</router-link></v-list-item-title>
             
          </v-list-item>
 
        </v-list-group>
 
      </v-list-group>
    </v-list>
      </v-navigation-drawer>
      <v-app-bar fixed app v-if="this.$route.path !=='/login' && this.$route.path !=='/Registrasi'">
        <v-app-bar-nav-icon @click="drawer=!drawer"></v-app-bar-nav-icon>
        <v-toolbar-title v-show="!drawer" class="title">
           <v-avatar size=25>
          <img src="@/assets/logo.png" alt="avatar">
        </v-avatar>
                <router-link to="/" tag="span" style="cursor:pointer">&nbsp; TMDB</router-link>
          </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn text @click.prevent="logout">Logout</v-btn>
        </v-toolbar-items>
      </v-app-bar>
      <v-content>

            <router-view></router-view>

      </v-content>
      <v-footer app>
        <span>&copy;2021</span>
      </v-footer>
  </v-app>

  </div>
</template>

<script>
export default {
  data () {
    return {
      drawer: true,
      items: [
        { title: 'Account Detail', icon: '', link: '/', id:'1' },
        { title: 'Lists', icon: '', link: '/Lists', id:'2' },
        { title: 'Movie', icon: '', link: '/Movie', id:'3' },
      ],
      inventory:[
        
      ],
      right: null
    }
  },
  methods: {
    logout: function () {
      localStorage.clear()
      this.$router.push({
        name: 'Login'
      })
    },
    getChild : function (numbers) {
      return this.inventory.filter(s=> s.id === numbers);
   
  }
  
}
}
</script>

<style>
</style>
