<template>
  <v-container fluid fill-height>
    <v-layout>
      <v-flex xs12>
        <v-card>
          <v-card-title primary-title>
            <span class="title">Movie Page</span>
            <v-spacer></v-spacer>
            <span>
            <v-row justify="center">
                
            </v-row>
            </span>
          </v-card-title>
        </v-card>
        <v-divider>

        </v-divider>
        <v-card>
          <v-card-title>
           
            <v-spacer></v-spacer>
            <v-text-field v-model="search"  label="Search" single-line hide-details></v-text-field>
          </v-card-title>
          <v-data-table :headers="headers" :items="GetMovie.results" :search="search">
            <template slot="items" slot-scope="props">
               
              <td class="text-xs-right">{{ props.item.original_title }}</td>
              <td class="text-xs-right">{{ props.item.original_language }}</td>
              <td class="text-xs-right">{{ props.item.title }}</td>
              <td class="text-xs-right">{{ props.item.release_date }}</td>
            </template>
            <template v-slot:item.backdrop_path="{ item }">
                <img :src="'https://www.themoviedb.org/t/p/w220_and_h330_face/' + item.backdrop_path" style="width: 100px; height: 100px" />
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

</template>
<script>
  // import { mapGetters } from 'vuex'
  import  movie from '@/components/Movie/ListMovie'
 
 
  export default {
    components:{
        movie
    },
    data() {
      return {
        search: '',
        headers: [{
            text: 'Original Title',
            align: 'left',
            sortable: true,
            value: 'original_title'
          },
          {
            text: 'Language',
            value: 'original_language'
          },
          {
            text: 'Title',
            value: 'title'
          },
          {
            text: 'Release Date',
            value: 'release_date'
          },
          {
            text: 'Poster',
            value: 'backdrop_path'
          },
        ],
        
         
       
      }
    },
    computed: {
      GetMovie() {
        return this.$store.state.Movies.movie
      },
    },
    
  }
</script>

