<template>
  <v-container fluid fill-height>
    <v-layout>
      <v-flex xs12>
        <v-card>
          <v-card-title primary-title>
            <span class="title">List Page</span>
            <v-spacer></v-spacer>
            <span>
            <v-row justify="center">
                <v-dialog v-model="dialog" persistent max-width="600px">
                    <template v-slot:activator="{ on }">
                        <v-btn color="primary" dark v-on="on">Tambah List</v-btn>
                    </template>
                    <v-card>
                        <v-form>
                            <v-card-title>
                                <span class="headline">List</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12"  >
                                            <v-text-field label="Name*" v-validate="'required|max:50'" :counter="50" :error-messages="errors.collect('name')"
                                                data-vv-name="name" v-model="listModel.name"></v-text-field>
                                        </v-col>
                                        
                                        <v-col cols="12" >
                                            <v-text-field
                                                label="Description*" v-validate="'required|max:50'" :counter="50" :error-messages="errors.collect('descr')"
                                                data-vv-name="descr" v-model="listModel.description"></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field label="Language" v-validate="'required|max:50'" :counter="50" :error-messages="errors.collect('lang')"
                                                data-vv-name="lang" v-model="listModel.iso_639_1"></v-text-field>
                                        </v-col>
                                       
             
                                    </v-row>
                                </v-container>
                                <small>*indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="Close">Close</v-btn>
                                <v-btn color="primary"   @click.prevent="AddList">Save</v-btn>
                               
                            </v-card-actions>
                        </v-form>
                    </v-card>
                </v-dialog>
            </v-row>
            </span>
          </v-card-title>
        </v-card>
        <v-divider>

        </v-divider>
        <v-card>
          <v-card-title>
           
            <v-spacer></v-spacer>
            <v-text-field v-model="search"  label="Search" single-line hide-details></v-text-field>
          </v-card-title>
          <v-data-table :headers="headers" :items="Lists" :search="search">
            <template slot="items" slot-scope="props">
              <td>{{ props.item.id }}</td>
              <td class="text-xs-right">{{ props.item.name }}</td>
              <td class="text-xs-right">{{ props.item.description }}</td>
              <td class="text-xs-right">{{ props.item.iso_639_1 }}</td>
               
            </template>
            <template v-slot:item.action="{ item }">
                
                <v-btn color="error" v-on:click="del(item)">Delete</v-btn>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

</template>
<script>
  // import { mapGetters } from 'vuex'
  
  export default {
   
    data() {
      return {
        search: '',
        headers: [{
            text: 'ID',
            align: 'left',
            sortable: true,
            value: 'id'
          },
          {
            text: 'Nama',
            value: 'name'
          },
          {
            text: 'Description',
            value: 'description'
          },
         {
            text: 'Language',
            value: 'iso_639_1'
          },
           {
            text: 'Actions',
            value: 'action'
          }
        ],
       
        listModel:{
            name:"",
            description: "",
            lang:"",
           
        },
        dialog:false,
      }
    },
    computed: {
      Lists() {
        return this.$store.state.Lists.lists
      },
      
     
    },
    methods: {
      AddList() {
           this.$validator.validateAll().then(res => {
                if (res) {
                     this.$store.dispatch('Lists/addList', this.listModel)
                     this.dialog = false;
                 } else {
                    console.log('Input data dengan benar')
                }
                // this.$store.dispatch('Customers/deleteCustomers', id)
                //alert('Customer deleted !!!')
           });
      
      },
       
     
      Close()
      {
        
          this.dialog=false;
      },
    
     del(item)
     {
        this.$store.dispatch('Lists/delList', item)
       // alert('List telah dihapus.')
     //   this.$store.dispatch('Lists/loadList', this.$store.state.Accounts.account.id);
     }
      

    }
  }
</script>

