<template>
    <Listlists></Listlists>
</template>

<script>
import Listlists from '@/components/Movie/Lists'
export default {
    name:"Lists",
    components:{
        Listlists
    },
    mounted () {
        
        this.$store.dispatch('Lists/loadList', this.$store.state.Accounts.account.id);
      
    }
}
</script>

