<template>
  <v-container fluid fill-height>
    <v-layout>
      <v-flex xs12>
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title>LOGIN</v-toolbar-title>
          </v-toolbar>
          <v-divider></v-divider>
          <v-container fluid>
            <v-form>
              <v-text-field v-validate="'required|max:50'" v-model="UserReq.username" :counter="50" :error-messages="errors.collect('email')"
                label="Username" data-vv-name="username"></v-text-field>
              <v-text-field v-validate="'required|max:50'" v-model="UserReq.password" :counter="20" :error-messages="errors.collect('password')"
                label="Password" type="password" data-vv-name="password"></v-text-field>
              <div class="text-xs-center">
                <v-btn color="info" @click.prevent="SubmitLogin"> Login</v-btn>
                
              </div>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    show1: true,
    UserReq: {}
  }),
  methods: {
    SubmitLogin () {
      this.$validator.validateAll().then(res => {
        if (res) {
          this.$store.dispatch('Users/loginUsers', this.UserReq)
        } else {
          console.log('Input data dengan benar')
        }
      })
    }
}
}
</script>