<template>
    <ListMovie></ListMovie>
</template>

<script>
import ListMovie from '@/components/Movie/ListMovie'
export default {
    name:"Movie",
    components:{
        ListMovie
    },
    mounted () {
        this.$store.dispatch('Movies/loadMovies');
         
    }
}
</script>

